@font-face {
  font-family: kenvector_future;
  src: url('../font/kenvector_future.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Rebellion;
  src: url('../font/Rebellion.otf');
  font-weight: 300;
  font-style: normal;
}

